In [6]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder

In [19]:
df = pd.read_csv("C:/Users/ranii/antimicrobial_resistance_project/Gambia data/gambia_antibiogram_sheet1.csv", sep=';')

In [20]:
print("Aperçu des données :")
display(df.head())

Aperçu des données :

                         Row Labels  Count of Sample   Count of Sample type
0                          Aspirate              49.0                  49.0
1   other β-haemolytic streptococci               1.0                   1.0
2                  Coliform species               1.0                   1.0
3              Enterococcus species               1.0                   1.0
4                  Escherichia coli               1.0                   1.0

In [21]:
print("\nInfos générales :")
df.info()

Infos générales :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105 entries, 0 to 104
Data columns (total 3 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Row Labels            105 non-null    object
 1   Count of Sample       103 non-null    float64
 2   Count of Sample type  103 non-null    float64
dtypes: float64(2), object(1)
memory usage: 2.6+ KB

In [22]:
print("\nStatistiques descriptives :")
display(df.describe())

Statistiques descriptives :

       Count of Sample   Count of Sample type
count        103.000000            103.000000
mean          33.873786             33.873786
std          129.757366            129.757366
min            1.000000              1.000000
25%            2.000000              2.000000
50%            4.000000              4.000000
75%           14.500000             14.500000
max         1163.000000           1163.000000

In [23]:
print("\nValeurs manquantes par colonne :")
display(df.isnull().sum())

Valeurs manquantes par colonne :

Row Labels              0
Count of Sample         2
Count of Sample type    2
dtype: int64

In [29]:
if 'Organism' in df.columns:
    print("\nOrganismes uniques :")
    print(df['Organism'].unique())
if 'Antibiotic' in df.columns:
    print("\nAntibiotiques uniques :")
    print(df['Antibiotic'].unique())
if 'Resistance' in df.columns:
    print("\nValeurs de résistance :")
    print(df['Resistance'].unique())

In [25]:
if 'Sample Type' in df.columns:
    plt.figure(figsize=(12,6))
    sns.countplot(y='Sample Type', data=df, order=df['Sample Type'].value_counts().index)
    plt.title("Distribution des échantillons par type")
    plt.xlabel("Nombre d'échantillons")
    plt.ylabel("Type d'échantillon")
    plt.show()

In [26]:
le_organism = LabelEncoder()
le_antibiotic = LabelEncoder()
le_resistance = LabelEncoder()

if 'Organism' in df.columns:
    df['Organism_enc'] = le_organism.fit_transform(df['Organism'])
if 'Antibiotic' in df.columns:
    df['Antibiotic_enc'] = le_antibiotic.fit_transform(df['Antibiotic'])
if 'Resistance' in df.columns:
    df['Resistance_enc'] = le_resistance.fit_transform(df['Resistance'])

print("\nAperçu après encodage :")
display(df.head())

Aperçu après encodage :

                         Row Labels  Count of Sample   Count of Sample type
0                          Aspirate              49.0                  49.0
1   other β-haemolytic streptococci               1.0                   1.0
2                  Coliform species               1.0                   1.0
3              Enterococcus species               1.0                   1.0
4                  Escherichia coli               1.0                   1.0

In [31]:
df.to_csv("C:/Users/ranii/antimicrobial_resistance_project/Gambia data/gambia_antibiogram_sheet1.csv", index=False)
print("\nDataset prétraité sauvegardé sous : gambia_sheet1_preprocessed.csv")

Dataset prétraité sauvegardé sous : gambia_sheet1_preprocessed.csv